body{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(21 14 62 / 79%);;
    font-family: Arial, Helvetica, sans-serif;
}
.player{
    width:300px;
    height: 500px;
    background-color:rgb(46 32 32 / 19%);
    border-radius: 20px;
    padding: 30px;
    overflow: hidden;
    color: azure;
    box-shadow: 0 10px 100px rgb(46 32 32 / 10%);

}
#song{
    text-align: center;
    font-size: 35px;
    font-weight: 200;

}
#artist{
    text-align: center;
    font-size: 20px;
}
.circle{
    position: relative;
    display: block;
    margin: 60px;
    width: 180px;
    height:180px;
    border-radius: 150px;
    background-color: black;
    background-image: url('music.jpeg');
    background-size: cover;
    box-shadow: 0 0 0 10px rgba(47, 47, 48, 0.79);
}
#slider{
    width: 100%;
    position:relative;
}
#bar{
    -webkit-appearance: none;
    width:100%;
    height: 4px;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.543);
    cursor: pointer;
}
#bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height:20px;
    background: black;
}
#current-time{
    font-size: 14px;
}
#song-duration{
    font-size: 14px;
    position: absolute;
    right: 0;
}
#controls{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1px;
}
.play-btn{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: azure;
    cursor: pointer;
    border: none;
}
.play-btn span{
    position:absolute;
    top: 25%;
    left: 32%;
    transform: translate(-50%);
    width: 10px;
    height:30px;
    border-radius: 2px;
    background:rgba(47, 47, 48, 0.79);
    transition: .5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.play-btn span:nth-child(2){
    left: 65%;
    transform-origin: center;
}
.play-btn.pause span:nth-child(2){
    transform: translateY(-50%) scaleY(0);
}
.play-btn.pause span:nth-child(1){
    width: 35%;
    top:45%;
    left:52%;
    transform: translate(-50%,-50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}
.play-btn.pause{
    animation: pulse 2s linear infinite;
}
@keyframes pulse{
    0%{
        box-shadow: 0;
    }
    50%{
        box-shadow: 0 0 0 5px rgba(47, 47, 48, 0.79);
    }
    100%{
        box-shadow: 0 0 0 5px gray;
    }
}